
*.Rhistory
__pycache__/
.tmp.drivedownload/
.tmp.driveupload/
.ipynb_checkpoints/
.Rhistory
*.pyc
.idea/
.idea\
__pycache__\
.vscode/
*.asv

results/simulation/*.pkl
results/simulation2/*.pkl
data/*.csv